version: '3.8'

services:
   redis-master:
      image: redis:alpine
      ports:
          - '6379:6379'
      networks:
          - red_net
      environment:
          - REDIS_REPLICATION_MODE=master
          - ALLOW_EMPTY_PASSWORD=yes
      volumes:
          - ./data/redis:/bitnami
          - ./data/redis/conf/redis.conf:/opt/bitnami/redis/conf/redis.conf

   redis-replica:
      image: redis:alpine
      ports:
          - '6380-6382:6379'
      depends_on:
          - redis-master
      networks:
          - red_net
      environment:
          - REDIS_REPLICATION_MODE=slave
          - REDIS_MASTER_HOST=redis-master
          - REDIS_MASTER_PORT_NUMBER=6379
          - ALLOW_EMPTY_PASSWORD=yes
      deploy:
          replicas: 3
        
networks:
    red_net:
       driver: bridge
