version: '3.8'

services:
   redis-master:
      image: redis:alpine
      ports:
          - '6379:6379'
      networks:
          - red_net
      environment:
          - REDIS_REPLICATION_MODE=master
          - ALLOW_EMPTY_PASSWORD=yes
          - BIND=redis-master
      volumes:
          - ./databases:/databases
          - ./redis_conf.d/redis.conf:/etc/redis.conf
          - ./redis_conf.d/setup:/usr/share/setup
      command: redis-server /etc/redis.conf

   redis-replica:
      image: redis:alpine
      restart: on-failure
      ports:
          - '6380-6381:6379'
      depends_on:
          - redis-master
      networks:
          - red_net
      environment:
          - REDIS_REPLICATION_MODE=slave
          - REDIS_MASTER_HOST=redis-master
          - REDIS_MASTER_PORT_NUMBER=6379
          - BIND=redis-master
          - ALLOW_EMPTY_PASSWORD=yes
      volumes:
          - ./databases:/databases
          - ./redis_conf.d/redis_slave.conf:/etc/redis.conf
      command: redis-server /etc/redis.conf
      
      deploy:
          replicas: 2

   app:
      image: node:alpine3.13
      restart: on-failure
      ports:
          - '1337:1337'
      links:
          - redis-master
      networks:
          - red_net
      volumes:
          - ./app:/App
      command: "sh -c 'npm install && npm start'"
      working_dir: /App
      tty: true


networks:
    red_net:
       driver: bridge

